/* header STYLE */

.header {
    border-bottom: 1px solid var(--palette-color-borders);
    height: 50px;
    width: 100%;
}


/* container header */

.header_container {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 15px;
}


/* search container */

.search {
    position: relative;
}


/* search input style */

.search_input {
    background: #fbfbfb;
    border-radius: 20px;
    border: 1px solid var(--palette-color-borders);
    color: #bdbdbd;
    font-size: 12px;
    height: 30px;
    padding: 0 15px;
    width: 220px;
}


/* hover and focus input seacrh */

.search_input:focus,
.search_input:hover {
    background: var(--white);
    box-shadow: 0px 0px 15px 3px rgba(112, 161, 255, 0.24);
    transition: .4s;
} 


/* search button style */

.search_button {
    align-items: center;
    background: var(--palette-color-icons);
    border-radius: 25px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: 3px;
    top: 2px;
    transition: .2s;
    width: 25px;
}

.search_button i {
    font-size: 12px;
}

.search_button:hover {
    font-size: 12px;
    width: 80px;
}

.search_button:hover i {
    margin-left: 5px
}


/* nav menu list */

.nav_menu-list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* nav menu link style */

.nav_menu-list-item-link {
    align-items: center;
    color: var(--palette-color-icons);
    display: flex;
    height: 50px;
    justify-content: center;
    min-width: 50px;
    transition: .4s;
    width: auto;
}


/* nav menu hover style */

.nav_menu-list-item-link:hover {
    background: var(--palette-color-icons);
    color: var(--white);
    text-decoration: none;
}
